body {
	padding-top: 5rem;
}

.has-background-teachla-green {
    background-color: #9CD931;
}

.has-border-bottom-green {
	border-bottom: 1px solid #9CD931;
}

.notes-graph {
	display: inline;
}

.box {
	height: 100%;
}

.center {
	text-align: center;
}

.mathformat {
  padding-top: 1px;
}

table {
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

table tr {
	display: table-cell;
}

table tr th {
	display: block;
	background-color: rgb(212, 243, 179);
	width: 275px;
	height: 3rem;
}

table tr td {
	display: block;
	width: 50px;
	height: 3rem;
}

.notification {
	margin-top: 10px;
	background-color: rgb(145, 221, 57);
	color: white;
	transition: 0.3s;
}

.notification:hover {
	background-color: rgb(127, 209, 32);
	transition: 0.3s;
}

.steps {
	display: block;
	width: 100%;
	height: 400px;
}

.step-content {
	display: none;
	transition: 0.3s;
}

#prev,
#next {
	color: #9CD931;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	font-weight: bold;
	user-select: none;
	-webkit-user-select: none;
	transition: 0.3s;
}

#prev {
	left: 0;
	border-radius: 0px 5px 5px 0px;
}

#next {
	border-radius: 5px 0px 0px 5px;
	right: 0;
}

#prev:hover,
#next:hover {
	color: white;
	background-color: #9CD931;
	transition: 0.3s;
}

#steps-nav {
	margin-top: -90px;
	display: flex;
	justify-content: center;
	position: absolute;
	left: 50%;
	right: 50%;
}

.dot {
	cursor: pointer;
	color: rgb(212, 243, 179);
	display: inline;
	transition: 0.3s;
	padding: 15px;
}

.dot:hover {
	color: #9CD931;
	transition: 0.3s;
}

.dot-active {
	color: #9CD931;
}

.why-btn {
	position: absolute;
	right: 2%;
	cursor: pointer;
	display: inline;
	padding: 5px;
	border-radius: 5px;
	color: white;
	background-color: #9CD931;
	transition: 0.3s;
}

.why-btn:hover {
	background-color: rgb(127, 209, 32);
	transition: 0.3s;
}