body {
	padding-top: 5rem;
}

.has-background-teachla-green {
    background-color: #9CD931;
}

.has-border-bottom-green {
	border-bottom: 1px solid #9CD931;
}

.notes-graph {
	display: inline;
}

.box {
	height: 100%;
}

.center {
	text-align: center;
}

.mathformat {
  padding-top: 1px;
}

.notification {
	margin-top: 10px;
	background-color: rgb(145, 221, 57);
	color: white;
	transition: 0.3s;
}

.notification:hover {
	background-color: rgb(127, 209, 32);
	transition: 0.3s;
}

#prev,
#next {
	cursor: pointer;
	position: absolute;
	top: 80%;
}

#prev {
	left: 8rem;
}

#next {
	right: 8rem;
}

#calculations {
	height: 24rem;
}