.hero-body {
    background-color: rgb(174, 216, 77);
}

.italic {
  font-style: italic;
}

.center {
 text-align: center;
}



table {
	display: table;
}
table tr {
	display: table-cell;
}
table tr th {
	display: block;
}
table tr td {
	display: block;
}

.notification {
    margin-top: 10px;
}
